@using Sigil.Application.Models.Events
@inject ITagValueFormatter TagValueFormatter

<div class="columns-1 md:columns-xl space-y-4 gap 4">
    <!-- Context -->
    <div class="card bg-base-300 break-inside-avoid">
        <div class="card-body p-4">
            <h2 class="card-title text-base">Context</h2>
            <div class="overflow-x-auto">
                <table class="table table-sm table-auto">
                    <colgroup>
                        <col class="w-[1px] pe-4" />
                        <col/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="opacity-60">Platform</td>
                        <td class="font-mono">@EventDetail.Platform</td>
                    </tr>
                    @if (!string.IsNullOrEmpty(EventDetail.Release))
                    {
                        <tr>
                            <td class="opacity-60">Release</td>
                            <td class="font-mono">@EventDetail.Release</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(EventDetail.Environment))
                    {
                        <tr>
                            <td class="opacity-60">Environment</td>
                            <td class="font-mono">@EventDetail.Environment</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- User -->
    @if (EventDetail.User is not null)
    {
        <div class="card bg-base-300 break-inside-avoid">
            <div class="card-body p-4">
                <h2 class="card-title text-base">User</h2>
                
                <div class="overflow-x-auto">
                    <table class="table table-sm table-auto">
                        <colgroup>
                            <col class="w-[1px] pe-4" />
                            <col/>
                        </colgroup>
                        <tbody>
                        @if (!string.IsNullOrEmpty(EventDetail.User.Identifier))
                        {
                            <tr>
                                <td class="opacity-60">Identifier</td>
                                <td class="font-mono">@EventDetail.User.Identifier</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(EventDetail.User.Username))
                        {
                            <tr>
                                <td class="opacity-60">Username</td>
                                <td class="font-mono">@EventDetail.User.Username</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(EventDetail.User.Email))
                        {
                            <tr>
                                <td class="opacity-60">Email</td>
                                <td class="font-mono">@EventDetail.User.Email</td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(EventDetail.User.IpAddress))
                        {
                            <tr>
                                <td class="opacity-60">IpAddress</td>
                                <td class="font-mono">@EventDetail.User.IpAddress</td>
                            </tr>
                        }
        
                        @if (EventDetail.User.Extra != null)
                        {
                            foreach (var (key, value) in EventDetail.User.Extra)
                            {
                                <tr>
                                    <td class="opacity-60">@key</td>
                                    <td>
                                        <span class="font-mono">@value</span>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <!-- Tags -->
    @if (EventDetail.Tags.Count > 0)
    {
        <div class="card bg-base-300 break-inside-avoid">
            <div class="card-body p-4">
                <h2 class="card-title text-base">Event Tags</h2>
                <div class="overflow-x-auto">
                    <table class="table table-sm table-auto">
                        <colgroup>
                            <col class="w-[1px] pe-4" />
                            <col/>
                        </colgroup>
                        <tbody>
                        @foreach (var tag in EventDetail.Tags.OrderBy(t => t.Key))
                        {
                            <tr>
                                <td class="opacity-60">@tag.Key</td>
                                <td>
                                    @if (ProjectId > 0)
                                    {
                                        <TagLink ProjectId="ProjectId" Key="@tag.Key" Value="@tag.Value" />
                                    }
                                    else
                                    {
                                        <span class="font-mono">@TagValueFormatter.Format(tag.Key, tag.Value)</span>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <!-- Extra -->
    @if (EventDetail.Extra is { Count: > 0 })
    {
        <div class="card bg-base-300 break-inside-avoid">
            <div class="card-body p-4">
                <h2 class="card-title text-base">Extra</h2>
                <div class="overflow-x-auto">
                    <table class="table table-sm table-auto">
                        <colgroup>
                            <col class="w-[1px] pe-4" />
                            <col/>
                        </colgroup>
                        <tbody>
                        @foreach (var (key, value) in EventDetail.Extra)
                        {
                            <tr>
                                <td class="opacity-60">@key</td>
                                <td><span class="font-mono">@value</span></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public EventDetailResponse EventDetail { get; set; } = default!;
    [Parameter] public int ProjectId { get; set; }
}
